.markdown-preview.markdown-preview {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
  font-family: 'Arial','Noto Serif JP','serif';
  h1 {
    font-size: 1.8em;
    font-family: sans-serif;
    border-style: solid;
    border-width: 0 0 1px 0;
    counter-reset: imageNumber;
  }
  .katex-display > .katex { 
    font-weight:lighter
   }
  h2 {
    font-size: 1.3em;
    font-family: sans-serif;
  }
  h3{
    font-size: 1.1em;
    font-family: 'Noto Serif JP';
    font-weight: bold;
  }
  div.image>img{
    margin: auto;
    display: block;
  }
  div.image>span{
    display: block;
    text-align: center;
    font-size: 1em;
  }
  div.image>span::before{
    counter-increment: imageNumber;
    content: "Fig" counter(imageNumber) ":";
    
  }
  // important
  #imp{
    font-style: normal;
    color: red;
  }
  .note{
    margin:1em auto;
    padding:15px;
    color:#333;
    box-shadow:4px 4px 4px rgba(0,0,0,0.05);
    width:300px;
    transform:rotate(2deg);
    background:#ffc;
  }

  // question
  .que{
    font-style: normal;
    color: blue;
    text-decoration: underline wavy blue;
  }

}
